*{
    margin: 0;
    padding: 0;
    background: #f6f4f4; 
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

h1{
    color: #787815;
}

input{
    margin: 1rem;
    padding: 8px ;
    border: 1px solid #bebebe;
    border-radius: 5px;
}

input::placeholder{
    color: black;
}

button{
    padding: 10px 20px;
    border: 1px solid #786e15;
    border-radius: 5px;
    background-color: #f6f4f4;
    color: #000000;
    cursor: pointer;
}
button:hover{
    background-color: #dedbb9;
    transition: 0.2 ease;
}

p{
    margin: 10px;
    color: #000000;
    background: #bbbaba;
    border-radius: 5px;
    padding: 1.5rem;
}
