*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.conteudo {
    padding-top: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin:0 10px;
    margin-left: 30px;
}

nav ul li a{
    color: #000000;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color:#0d00ff;
    cursor: pointer;
}

header{
    background: #ffffff;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(2, 2, 74, 0.1);
    position: fixed;
    height: 100px;
    width: 100%;
}


.container{
    text-align: center;
    padding: 2rem;
    margin: 0rem;
    background: #f7f7f7;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
}

.container1{
    text-align: center;
    padding: 2rem;
    margin: 0rem;
    background: #ededed;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
}

.foto-perfil{
    margin-left: 5rem;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #152eab;
}

.informacoes h1{
    font-family: Verdana;
    font-size:35px;
    color: #1c2883;
}

.filme{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    margin-block-end: 2rem;
}

.text{
    margin: 4rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.text p{
    margin-top: 3rem;
    margin-left: 17rem;
    margin-right: 17rem;
    line-height: 2.0;
    text-indent: 1rem;
    text-align: justify;
}

.text h1{
    text-align: center;
    margin-left: 17rem;
    margin-right: 17rem;
}

.video{
    text-align: center;
    margin: 1.5rem;
}

.cartao{
    margin-top: 3rem;
    border : 1px solid white;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-block;
    width:250px;
    height: 400px;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0,3s, ease, box-shadow 0,3s ease;
}

.cartao:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.cartao img{
    width: 100%;
    height: 80%;
    border-radius: 8px;
}

.curiosidades ul li{
    margin-top: 2rem ;
    margin-left: 17rem;
    margin-right: 17rem;
    line-height: 2.0;
    text-indent: 1rem;
    text-align: justify;
    list-style: decimal;
}

.contato{
    display: flex;
    align-items: center;
    background: whitesmoke;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    margin-top: 2rem;
}

.contato i{
    font-size: 2rem;
    color: rgb(127, 127, 127);
}

.rodape{
    text-align: center;
    padding: 2rem;
    margin: 0rem;
    background: hsl(240, 75%, 38%);
}

i{
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.cards{
    background: #1c2883;
    padding: 2rem;
    margin: 2rem;
    
}