* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4682b4;
  padding: 10px 20px;
  color: white;
}

.menu img {
  cursor: pointer;
}

#buscar {
  padding: 8px;
  border: none;
  border-radius: 5px;
  width: 200px;
}

.linha-topo {
  display: flex;
  gap: 20px;
  padding: 20px;
}


.introducao {
  flex: 1;
  background-color: #ffffff;
  border: 2px solid #4682b4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.introducao h2 {
  color: #2e5984;
  margin-bottom: 15px;
}

.introducao p,
.introducao ol {
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 15px;
}

.introducao ol {
  padding-left: 20px;
}


nav {
  width: 200px;
  background-color: #e6f0fa;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

nav ul {
  list-style: none;
}

nav li {
  padding: 10px 0;
  font-weight: bold;
  color: #2e5984;
  cursor: pointer;
  transition: color 0.3s;
}

nav li:hover {
  color: #1c3f66;
}

.caixa-radio {
  margin: 20px;
  background-color: #ffffff;
  border: 2px solid #4682b4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.caixa-radio h2 {
  color: #2e5984;
  margin-bottom: 15px;
}

.caixa-radio p {
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 15px;
}

.introducao, .caixa-radio{
    width: 1000px;
}

.biografia {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 40px;
}

.foto-biografia {
  width: 180px;              
  height: auto;             
  object-fit: cover;         
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.biografia h3 {
  margin-top: 0;
}

.biografia p {
  margin-bottom: 10px;
}

#aviso{
    color: rgba(0, 0, 0, 0.3);
}

.voltar {
    background: #77b8ee;
    border-radius: 14px;
    padding: 1rem;
}

.voltar a {
    text-decoration: none;
    color: black;
}

.voltar:hover {
    background-color: rgb(255, 142, 101);
}