* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 10vh;
    background-color: #b8b8b8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.container{
    width: 100vw;
    height: 90vh;
    display: flex;
}

.content{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;  
}

.box{
    padding-top: 1rem;
    padding-left: 2rem;
    margin: 0.6rem;
    width: 95vw;
    height: 155px;
    border-radius: 15px;
    background-color: #555;
}

.box p{
    color: #ebebeb;
    font-size: 16px;
    margin-bottom: 0.2rem;
}

.box #nome{
    font-weight: bold;
    font-size: 18px;
}