body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e1e1e1;
}

header {
    display: flex;
    justify-content: end;
    padding: 20px 0;
    background-color: rgb(255, 255, 255);
}

.logo {
    width: 170px;
    height: 60px;
    position: absolute;
    left: 30px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 80px;
    margin: 1rem;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.menu a:hover{
    color: #2b00a2;
}

main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 40px;
    width: 800px;
    margin-left: 19rem;
}

.card {
    background-color: #46858e; 
    border-radius: 25px;
    padding: 30px;
    color: rgb(248, 233, 233);
    display: flex;
    flex-direction: column;
    gap: 22px;
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.20);
}

.card h3 {
    margin: 0;
    font-size: 22px;
}

.campo {
    width: 70%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f1f1f1;
    transition: box-shadow 0.25s;
}

.btn {
    width: 200px;
    padding: 13px;
    border: none;
    border-radius: 50px;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.25s;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.4);
}


.tabela {
    width: 100%;
    border-spacing: 0;
    background: #ffffff;
    color: #333;
    border-radius: 12px;
    overflow: hidden;
}

.tabela th {
    background: #ebebeb;
    padding: 14px;
}

.tabela td {
    padding: 14px;
    border-top: 1px solid #dddddd;
}

.tabela tr:hover {
    background-color: #f3f3f3;
    transition: 0.2s;
}

#salas{
    background-color: rgb(252, 194, 86);
    border-radius: 13px;
    padding-left: 1rem;
    padding-right: 1rem;
}

#alunos{
    background-color: rgb(252, 194, 86);
    border-radius: 13px;
    padding-left: 1rem;
    padding-right: 1rem;
}

#Reserva{
    background-color: rgb(252, 194, 86);
    border-radius: 13px;
    padding-left: 1rem;
    padding-right: 1rem;
}