*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times;
    background: hsl(219, 100%, 86%);
    line-height: 1.6;
}

header{
    background: #2a1588;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

header h1{
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin:0 10px;

}

nav ul li a{
    color: #06072a;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color:#510d0d;
    cursor: pointer;
}

section{
    padding: 2rem;
    margin: 1rem;
    background: #ffffff;
    border-radius: 10px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

h2{
    margin-bottom: 1rem;
}

.sobre-mim{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.foto-perfil{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #000000;

}

.sobre-informacoes{
    flex: 1;
}

.sobre-informacoes h2{
    margin-bottom: 0.5rem;
}

.sobre-informacoes p {
    font-size: 1rem;
    color: #555;
}

.cards{
    display: flex;
    gap: 1rem;
}

.card{
    background: #f4f4f4;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shandow 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.hobbies{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hobby{
    display: flex;
    align-items: center;
    background: whitesmoke;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 1rem;
}

.hobby i {
    font-size: 2rem;
    color: white;
}

.hobby p, .hobby h3{
    color:rgb(228, 222, 222);
    margin-bottom: 0.5rem;
}

