/*reset*/

*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    background: hsl(210, 36%, 96%);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4{
    letter-spacing: 0,1rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: 'Comic Sans', sans-serif;
}

h1{font-size: 3rem;}
h2{font-size: 2rem;}
h3{font-size: 1.25rem;}
h4{font-size: 0.875rem;}

p{
    margin-bottom: 1.25rem;
    color: hsl(210, 22%, 49%);
}

main{
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}

nav{
    background: #fff;
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nav{
    width: 90vw;
    max-width: 620px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link h4{
    margin-bottom: 0;
    color:hsl(205, 78%, 60%)
}
.links{display: flex;}

nav a{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: hsl(205, 86%, 17%);
    letter-spacing: 0.1rem;
    margin-right: 1rem;
}
nav a:hover{
    color:hsl(205, 78%, 60%)
}

.container{text-align: center;}
.container h2{
    background: #222;
    color: #fff;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 2.5rem;
}

.color{
    color: hsl(205, 78%, 60%);
}

.btn-style{
    font-family: verdana;
    text-transform: uppercase;
    background: transparent;
    color: #222;
    letter-spacing: 0.1rem;
    display: inline-block;
    font-weight: 700;
    transition: all 0.3s linear;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
}

.btn-style:hover{
    color: #fff;
    background: #222;
}