* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.container{
    width: 50vw;
    height: 50vh;
    background-color: rgb(203, 201, 198);
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    /* padding: 15px; */
    align-items: center;
    justify-content: space-around;
    /* overflow: scroll; */
}

.box{
    width: 50px;
    height: 50px;
    background-color: rgb(244, 244, 244);
}

header{
    width: 100vw;
    height: 10vh;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
}

.menu{
    width: 500px;
    height: 50px;
    background-color: blueviolet;
}