*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}

button{
    padding: 10px;
    border-radius: 5px;
    font-size: 22px;
    min-width: 150px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.447)
}

button:hover{
    background-color: rgb(14, 43, 122);
    color: azure;
}